.card {
  width: 290px;
  height: 260px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.pointer_on {
  cursor: pointer;
}

.cardComplete {
  width: 290px;
  height: 260px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 205px;
    height: 199px;
  }

  .cardComplete {
    width: 205px;
    height: 199px;
  }
}
