.container {
  padding-top: 50px;
  margin-bottom: 82px;
}

.border_container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}

.title {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--color-font2);
  text-transform: uppercase;
  margin-right: 10px;
}

.button {
  width: 0;
  height: 0;
  border-bottom: 6px solid var(--color-details);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-right: 10px;
}

.activ_button {
  width: 0;
  height: 0;
  border-top: 6px solid var(--color-details);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-right: 10px;
}

.image {
  min-width: 100%;
}

.line {
  width: 100%;
  display: flex;
  align-items: baseline;
  border: 1px dashed #b9c3c8;
}

.card_container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cart_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }
 
}