.card_form {
  padding-left: 21px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.card_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_title {
  color: #b9c3c8;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.challenge_title {
  color: #b9c3c8;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.card_task {
  border: none;
  border-bottom: 1px solid #00d7ff;
  margin-bottom: 15px;
  width: 248px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #282828;
  text-align: center;
  transition: 1s;
  word-wrap: break-word;
  overflow: hidden;
}

.challenge_text {
  border: none;
  margin-bottom: 15px;
  width: 248px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  transition: 1s;
  background-color: #15395a;
  color: #fff;
  word-wrap: break-word;
  overflow: hidden;
}

.challenge_text:focus {
  outline: none;
  font-size: 24px;
}

.card_task:focus {
  outline: none;
  caret-color: #00d7ff;
  font-size: 20px;
}

.card_time {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
}

.challenge_time {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #b9c3c8;
}

.calendar_icon {
  width: 12px;
  height: 14px;
  fill: #00d7ff;
}

.card_button {
  background-color: transparent;
  padding: 0;
  margin-left: 7px;
  border: none;
  max-width: 19px;
  max-height: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card_title {
    margin-bottom: 10px;
  }

  .card_task {
    margin-bottom: 12px;
    width: 163px;
  }

  .card_time {
    font-size: 14px;
  }

  .challenge_text {
    line-height: 19px;
    max-width: 160px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .challenge_text:focus {
    outline: none;
    font-size: 16px;
  }

  .challenge_title {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
  }

  .challenge_time {
    font-size: 14px;
    line-height: 14px;
  }
}
