.modal {
  padding: 12px;
  position: absolute;
  z-index: 2;
  bottom: -25px;
  background: #ffffff;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}

.select {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal_button {
  margin: 0;
  margin-right: 7px;
  font-size: 16px;
  margin-left: 7px;
  color: #282828;
  border: none;
  background-color: #fff;
  transition: 0.5s;
}

.modal_button:hover {
  color: #b9c3c8;
}
.modal_button:focus {
  color: #b9c3c8;
  outline: none;
}
